<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Chat</title>
    <link rel="shortcut icon" href="./icon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./assets/css/home.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="box">
        <h1>Start a new <br/> VIDEO CHAT</h1>
        <a href="/new-room/">New Room</a>
    </div>
</body>
</html>