@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    height: 90vh;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    background-color: #21252b;
}

.box {
    width: 90%;
    display: flex;
    max-width: 300px;
    user-select: none;
    min-height: 300px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.box h1 {
    font-size: 50px;
    font-family: 'Satisfy', cursive;
}

.box a {
    color: #fff;
    font-size: 26px;
    padding: 0 20px;
    margin-top: 16px;
    line-height: 44px;
    border-radius: 4px;
    text-decoration: none;
    transition-duration: 0.3s;
    background-color: #039BE5;
    font-family: 'Bebas Neue', cursive;
}
.box a:hover {
    padding: 0 36px;
    background-color: #1976D2;
}